:root {
  --button-bg-color:#ac9f9f;
  --border-radius: 0.400em;
  --blob-width: 32rem;
  --blob-height: 16rem;
  --main-content-height: 24rem;
  --main-content-widht: 14rem;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%; 
}

body {
    background-color: var(--button-bg-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

#main-content {
    color: white;
    height: 16rem;
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    display: grid;

    grid-template-columns: repeat(4, 1fr) 2fr;
    grid-template-rows: repeat(6, 1fr);  
}

#main-content::before{
    content: "";
    width: var(--blob-width);
    height: var(--blob-height);
    background: 
    radial-gradient(
        ellipse at center,
     rgba(100, 100, 100, 0.8),  
     rgba(100, 100, 100, 0.6),
     rgba(100, 100, 100, 0.4));
    border-radius: 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(70px);
    z-index: -1;
}

#main-content::after{
    content: "";
    opacity: 0%;
    width: var(--blob-width);
    height: var(--blob-height);
    background: 
    radial-gradient(
        ellipse at center,
     rgba(248, 168, 111, 0.8),  
     rgba(248, 168, 111, 0.6),
     rgba(248, 168, 111, 0.4));
    border-radius: 50%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(70px);
    z-index: -1;
    transition: opacity 0.5s ease;
}

#main-content:hover::after{
opacity: 1;
transition: opacity 0.5s ease;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#profile-img {
    grid-column: span 4;
    grid-row: span 5;
    position: relative;
    border: 3px solid #898383;
    border-radius: var(--border-radius) 0 0 0;
    overflow: hidden;
    border-bottom: none;
    border-right: none;
    animation: bounceOut 0.4s ease;
}

#profile-img:hover #name{
    top: 85%;
    color: peachpuff;
}

img {
    width: 100%;
    height: 100%;
    filter: grayscale();
    transition: filter 0.5s ease;
    transition: transform 0.5s ease;
}

img:hover {
    filter: grayscale(0%);
    transform: scale(1.05);
    transition: transform 0.5s ease;
}

#name {
 opacity: 0;
 position: absolute;
 left: 50%;
 top: 100%;
 transform: translate(-50%, -50%);
 transition: 0.4s ease;
 background-color: rgba(25, 25, 25, 0.6);
 border-radius: 50px;
 border: 1px solid #898383;
 padding: 0.4em;
 transition: all 0.4s ease;
 font-family: Arial, sans-serif;;
}

#name:hover {
    display: block;
    position: absolute;
}

#navigation {
    grid-column: span 1;
    grid-row: span 6;
    display: grid;
    text-align: center;
    align-items: center;
}

#navigation ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

#navigation li {
    flex: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: Arial, sans-serif;
    border: 3px solid #898383;
    background-color: #918989;
    animation: rotation 0.4s ease;
}

#navigation li:first-child {
    border-radius: 0 var(--border-radius) 0 0;
    border-bottom: none;
}

#navigation li:last-child {
   border-radius: 0 0 var(--border-radius) 0;
    border-top: none;
}

#navigation li:hover {
    color: peachpuff;
}

#navigation a {
    text-decoration: none;
    color: inherit;
    transition: color 0.5s ease;
}

#navigation a:hover {
    color: peachpuff;
}

#social-media {
    align-items: center;
    display: flex;
    grid-column: span 4;
    grid-row: span 1;
    justify-content: space-evenly;
}

.social-media-btn {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #898383;
    background-color: #918989;
    transition: color 0.5s ease;
}

.social-media-btn:hover {
color:peachpuff;
transition: color 0.5s ease;
}

#social-media .social-media-btn:first-child {
    border-radius: 0 0 0 var(--border-radius);
    border-right: none;
}

@keyframes bounceOut {
    0% {
        transform: scale(0.25);
    }

    80% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes rotation {
    0% {
         transform: rotateY(50deg);
    }
    100% {
         transform: rotateY(150deg);
    }
}

@media(max-width: 480px)
{
    #main-content {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(12, 1fr);  

    width: var(--main-content-height);
    height: var(--main-content-widht);
    }

    #main-content::before {
        width: var(--blob-height);
        height: var(--blob-width);
    }

     #main-content::after {
        width: var(--blob-height);
        height: var(--blob-width);
    }

    #profile-img {
        grid-row-start: 1;
        grid-row-end: span 5;
    }
    
    #social-btn {
        grid-row-start: 5;
        grid-row-end: 5;
    }
    
    #navigation {
        grid-row-start: 6;
        grid-row-end: 12;
        grid-column: span 4;
    }

}

#social-media .social-media-btn:nth-of-type(2) {
    border-right: none;
}

#social-media .social-media-btn:last-child {
    border-left: none;
    border-right: none;
}